<%= simple_form_for(@tweet) do |f|%>
  <%= f.error_notification %>
  <div class="field">
    <div class="control">
      <%= f.input :tweet, label: "Tweet about it", input_html: { class: "textarea"}, wrapper: false, label_html: {class: "label"}, placeholder: "whats happening?", autofocus: true%>
    </div>
  </div>
  <%= f.button :submit, class: "button is-info"%>
<%end%>
