<div class="column is-one-quarter">
    <nav class="panel">
        <p class="panel-heading"> Trends</p>
        <a class="panel-block">
            Trend 1
        </a>
        <a class="panel-block">
            Trend 2
        </a>
        <a class="panel-block">
            Trend 3
        </a>        
        <a class="panel-block">
            Trend 4
        </a>        
        <a class="panel-block">
            Trend 5
        </a>        
        <a class="panel-block">
            Trend 6
        </a>
    </nav>
</div>